<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681038679926-8nfnoqtceb8isdgg5okj0o4slp4hllag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681038679926-8nfnoqtceb8isdgg5okj0o4slp4hllag</string>
	<key>API_KEY</key>
	<string>AIzaSyDnu4ulzU1rp2HnHfNxvL3IqhU5GGxRJ10</string>
	<key>GCM_SENDER_ID</key>
	<string>681038679926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rw.firebase.gettingstarted</string>
	<key>PROJECT_ID</key>
	<string>steady-observer-251101</string>
	<key>STORAGE_BUCKET</key>
	<string>steady-observer-251101.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681038679926:ios:6d6c8e7fe9f06e797b7457</string>
	<key>DATABASE_URL</key>
	<string>https://steady-observer-251101.firebaseio.com</string>
</dict>
</plist>